header.section-header {
  // layout
  margin-bottom: 40px;

  // styling
  background-color: $section-header-bg;

  h1 {
    color: $section-header-h1-text;

    &:after {
      // layout
      display: inline-block;
      margin-left: 10px;

      // styling
      color: $section-header-h1-after-text;
      font-family: "Material Icons";
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
    }

    &.accent {
      &:before {
        background-color: $section-header-h1-text;
      }
    }
  }

  p {
    color: $section-header-text;
  }

  .padding {
    @include padding(40px 40px 40px 0);
  }
}