header {
  &[role=banner] {
    @include breakpoint($mobile-breakpoint) {

    }

    @include breakpoint($tablet-breakpoint) {
      
    }

    @include breakpoint($desktop-breakpoint) {
      // layout
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 21;

      // styling
      @include transition(all 0.2s ease-in-out);

      &:after {
        // layout
        content: "";
        height: 7px;
        position: absolute;
        bottom: -7px;
        left: 0;
        right: 0;

        // styling
        background-image: repeating-linear-gradient(to right, $header-after-bg-1 0px, $header-after-bg-1 150px, $header-after-bg-2 150px, $header-after-bg-2 300px, $header-after-bg-3 300px, $header-after-bg-3 450px, $header-after-bg-4 450px, $header-after-bg-4 600px);
      }

      &.subtle {
        background-color: $header-subtle-bg;

        &:after {
          bottom: -7px;
          background-color: $header-subtle-bg-after;
          background-image: none;
        }

        h1 {          
          &:before {
            height: 0;
            width: 0;
          }

          a {
            color: $header-subtle-link-text;
          }
        }

        nav {
          &.primary-navigation {
            a {
              color: $primary-navigation-link-text-subtle;

              &:after {
                // layout
                content: "";
                height: 7px;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 1;

                // styling
                @include transition(all 0.2s ease-in-out);
                background-color: $primary-navigation-link-after-bg-subtle;
              }

              &:hover {
                &:after {
                  background-color: $primary-navigation-link-hover-after-bg-subtle;
                }
              }
            }
          }
        }

        span {
          &.job-title {
            display: none;
          }
        }
      }
    }
  }
}