header[role=banner] {
  background-color: $header-bg;

  &:after {
    content: "";
    height: 7px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
  }

  h1 {
    margin-bottom: 0;

    &:before {
      // layout
      content: "";
      display: block;
      height: 48px;
      margin-right: 10px;
      width: 48px;

      // styling
      @include transition(all 0.2s ease-in-out);
      background: url("../images/layout/header/logo.png") 0 0 no-repeat;
    }

    a {
      color: $header-link-text;
      text-decoration: none;
    }
  }

  .top-link {
    // layout
    height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;

    // styling
    @include transition(all 0.2s ease-in-out);
    background-color: $header-top-link-bg;

    &:hover {
      background-color: $header-top-link-bg-hover;
    }

    &.visible {
      height: 24px;
    }

    a {
      // layout
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      // styling
      color: $header-top-link-text;
      text-decoration: none;

      span {
        @include hidden;
      }
    }
  }
}