header[role=banner] {
  background-color: $header-bg;

  &:after {
    content: "";
    height: 7px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
  }

  h1 {
    margin-bottom: 0;

    &:before {
      // layout
      content: "";
      display: block;
      height: 48px;
      margin-right: 10px;
      width: 48px;

      // styling
      @include transition(all 0.2s ease-in-out);
      background: url("../images/hat.png") 0 0 no-repeat;
    }

    a {
      color: $header-link-text;
      text-decoration: none;
    }
  }
}