header {
  &[role=banner] {
    // layout
    margin-bottom: 20px;
    padding: 20px;

    // styling
    background-color: $header-bg;
    border-bottom: 7px solid darken($header-bg, 10%);

    h1 {
      float: left;
      margin-bottom: 0;

      &:before {
        // layout
        content: "";
        display: block;
        float: left;
        height: 48px;
        margin-right: 10px;
        width: 48px;

        // styling
        background: url("../images/hat.png") 0 0 no-repeat;
      }

      a {
        // layout
        float: left;

        // styling
        color: $header-link-text;
        text-decoration: none;
      }

      span {
        display: block;
      }
    }

    nav {
      &.primary-navigation {
        float: right;

        a {
          color: $primary-navigation-link-text;
          text-decoration: none;
        }

        li {
          float: left;
          margin-right: 20px;
        }
      }
    }
  }
}