!!!
%html
  = partial "layouts/partials/head"
  %body{ class: body_class }
    = partial "views/components/header/header"
    .wrap{ role: "main" }
      = yield
    = javascript_include_tag "application"
