.collapsible-content-body {
  display: none;
}

.collapsible-content-item {
  &.open {
    .collapsible-content-body {
      display: block;
    }
  }
}

.collapsible-content-toggle {
  // layout
  padding: 0;

  // styling
  background-color: transparent;
  border: 0 none;
  outline: 0;
}