.tabbed-content-body, .tabbed-content-nav {
  @include clearfix;
}

.tabbed-content-nav {
  a {
    // layout
    display: block;
    padding: 10px;
    position: relative;

    // styling
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
  }

  li {
    float: left;

    // styling
    font-size: 1.25em; /* 20px */
    font-weight: 300;

    &.last {
      border-right: 0 none;
    }
  }
}

.tabbed-content-tab {
  display: none;

  &.active {
    display: block;
  }
}