body.cv {
  [role="main"] {
    > .wrap {
      position: relative;
    }
  }

  article.cv {
    @include span(full);

    footer {
      a {
        color: $cv-footer-link-text;
      }
    }

    footer, .education, .experience, .introduction, .objective, .skills {
      margin-bottom: 60px;
    }

    .experience {
      background-color: $section-header-bg;

      a {
        color: $white;
      }

      h1 {
        &.accent {
          &:before {
            background-color: $white;
          }
        }
      }

      h1, h2, h3 {
        color: $white;
      }

      li {
        // layout
        padding-bottom: 40px;

        // styling
        border-bottom: 1px dashed $white;
      }

      p {
        color: $white;
      }

      ul {
        color: $white;
      }

      .padding {
        padding: 30px;
      }
    }

    .experience, .skills {
      li {
        margin-bottom: 40px;
      }
    }
  }

  .button {
    position: absolute;
    left: 15px;
  }
}