%nav.primary-navigation#primary-navigation{ role: "navigation" }
  %ul
    %li.bold-weight= link_to "Skills", root_path("#skills")
    %li.bold-weight= link_to "Work", root_path("#work")
    %li.bold-weight= link_to "About", root_path("#about")
