%nav.primary-navigation#primary-navigation{ role: "navigation" }
  %ul
    %li.bold-weight= link_to "Skills", "#skills"
    %li.bold-weight= link_to "Work", "#latest-work"
    %li.bold-weight= link_to "About", "#about"
