// #1c1d26;

// Global
$body-bg: $pampas;
$html-bg-1: $mariner;
$html-bg-2: $flame-pea;
$html-bg-3: $ronchi-2;
$html-bg-4: $ocean-green;
$primary-heading-text: $abbey;
$primary-text: $abbey;
$secondary-heading-text: $manatee;
$selection-bg: $moon-mist;
$selection-text: $abbey;

// Components
$button-bg-hover: $froly;
$button-border-bottom: $abbey;
$button-border-right: transparent;
$button-border-right-hover: $mona-lisa;
$button-text: $abbey;
$button-text-hover: $white;
$modal-bg: $pampas;
$modal-overlay-bg: $black-t-07;

$footer-after-bg-1: $mariner;
$footer-after-bg-2: $flame-pea;
$footer-after-bg-3: $ronchi-2;
$footer-after-bg-4: $ocean-green;
$footer-bg: $amazon;
$footer-small-link-text: $white;
$footer-small-text: $white;
$footer-social-h1-text: $white;
$footer-social-link-text: $white;

$header-after-bg-1: $mariner;
$header-after-bg-2: $flame-pea;
$header-after-bg-3: $ronchi-2;
$header-after-bg-4: $ocean-green;
$header-bg: $ocean-green;
$header-bg-subtle: $athens-grey-2-t-09;
$header-link-text: $white;
$header-link-text-subtle: $shuttle-grey;
$header-subtle-bg-after: $silver-tree;
$header-top-link-bg: $silver-tree;
$header-top-link-bg-hover: $ocean-green;
$header-top-link-text: $white;

$modal-close-text: $abbey;

$primary-navigation-border: $aqua-forest;
$primary-navigation-link-after-bg-subtle: $silver-tree;
$primary-navigation-link-bg-hover: $pampas;
$primary-navigation-link-bg-hover-subtle: $ocean-green;
$primary-navigation-link-border: $aqua-forest;
$primary-navigation-link-border-subtle: $mischka;
$primary-navigation-link-hover-after-bg-subtle: $vista-blue;
$primary-navigation-link-text-hover: $shuttle-grey;
$primary-navigation-link-text-hover-subtle: $white;
$primary-navigation-link-text: $white;
$primary-navigation-link-text-subtle: $shuttle-grey;

$section-header-before-bg-1: $tuna;
$section-header-before-bg-2: $pampas;
$section-header-bg: $abbey;
$section-header-border: $tuna;
$section-header-h1-after-text: $grey;
$section-header-h1-text: $white;
$section-header-text: $white;

// Pages
// CV
$cv-footer-link-text: $abbey;

// Home
$contact-button-bg: $ocean-green;
$contact-button-bg-hover: $froly;
$contact-button-border: transparent;
$contact-button-border-hover: $mona-lisa;
$contact-button-text: $white;
$site-introduction-link-border: transparent;
$site-introduction-link-after-border: $abbey;
$site-introduction-link-bg-hover: $athens-grey-1-t-07;
$site-introduction-link-text: $abbey;
$skill-before-border: transparent;
$skill-css-bg-1: $denim;
$skill-css-bg-2: $denim;
$skill-css-bg-3: $mariner;
$skill-css-h1-fill: $onahau;
$skill-css-h1-stroke: $torea-bay;
$skill-css-h1-text: $onahau;
$skill-css-h2-text: $white;
$skill-css-text: $white;
$skill-html-bg-1: $orange-roughy;
$skill-html-bg-2: $orange-roughy;
$skill-html-bg-3: $flame-pea;
$skill-html-h1-fill: $wafer;
$skill-html-h1-stroke: $tabasco;
$skill-html-h1-text: $wafer;
$skill-html-h2-text: $white;
$skill-html-text: $white;
$skill-javascript-bg-1: $ronchi-1;
$skill-javascript-bg-2: $ronchi-1;
$skill-javascript-bg-3: $ronchi-2;
$skill-javascript-h1-fill: $tahuna-sands;
$skill-javascript-h1-stroke: $husk;
$skill-javascript-h1-text: $tahuna-sands;
$skill-javascript-h2-text: $pesto;
$skill-javascript-external-link-text: $pesto;
$skill-javascript-text: $pesto;
$skills-navigation-css-bg: $mariner;
$skills-navigation-html-bg: $flame-pea;
$skills-navigation-javascript-bg: $ronchi-2;
$skills-navigation-javascript-text-shadow: $pesto;
$skills-navigation-link-text: $white;
$skills-navigation-other-bg: $ocean-green;
$skill-other-bg-1: $sea-green;
$skill-other-bg-2: $sea-green;
$skill-other-bg-3: $ocean-green;
$skill-other-h1-fill: $frosted-mint;
$skill-other-h1-stroke: $salem;
$skill-other-h1-text: $frosted-mint;
$skill-other-h2-text: $white;
$skill-other-external-link-text: $white;
$skill-other-text: $white;
$work-article-border: $abbey;
$work-external-link-text: $abbey;