// Blues
$denim-1: #146ec0;
$denim-2: #136cbf;
$mariner: #2f79bf;
$onahau: #cce6ff;
$torea-bay: #0e428c;

// Greens

// Greys
$abbey: #4a4e56;
$black: #000000;
$athens-grey: #f1f2f4;
$iron: #ccced3;

// Oranges
$flame-pea: #e05e2a;
$orange-roughy: #e04f14;
$tabasco: #a03910;
$wafer: #e0cec7;

// Yellows
$husk: #b19a44;
$khaki: #efe28b;
$ronchi-1: #eed24f;
$ronchi-2: #f0db4f;
$tahuna-sands: #efeac6;

// Other
$white: #fff;