// Global
$body-bg: $athens-grey !default;
$primary-heading-text: $abbey !default;
$primary-text: $abbey !default;
$secondary-heading-text: $iron !default;

// Components
$section-header-bg: $abbey !default;
$section-header-border: $black !default;
$section-header-heading-text: $white !default;
$section-header-text: $white !default;

// Pages
