// Global
$body-bg: $athens-grey-1 !default;
$external-link-text: $abbey !default;
$primary-heading-text: $abbey !default;
$primary-text: $abbey !default;
$secondary-heading-text: $iron !default;

// Components
$button-bg-hover: $froly !default;
$button-border-bottom: $abbey !default;
$button-border-right: transparent !default;
$button-border-right-hover: $mona-lisa !default;
$button-text: $abbey !default;
$button-text-hover: $white !default;

$footer-bg: $abbey !default;
$footer-small-link-text: $white !default;
$footer-small-text: $white !default;
$footer-social-h1-text: $white !default;

$header-bg: $mariner !default;
$header-bg-subtle: $athens-grey-2-t-09 !default;
$header-border: $denim-2 !default;
$header-border-subtle: transparent !default;
$header-link-text: $white !default;
$header-link-text-subtle: $abbey !default;

$primary-navigation-link-text: $white !default;
$primary-navigation-link-text-subtle: $abbey !default;

$section-header-before-bg: $tuna !default;
$section-header-bg: $abbey !default;
$section-header-heading-text: $white !default;
$section-header-text: $white !default;

// Pages
// Home
$latest-work-article-border: $abbey !default;
$site-introduction-link-border: transparent !default;
$site-introduction-link-after-border: $abbey !default;
$site-introduction-link-bg-hover: $athens-grey-1-t-07 !default;
$site-introduction-link-text: $abbey !default;
$skill-css-after: $denim-2 !default;
$skill-css-bg-1: $denim-1 !default;
$skill-css-bg-2: $denim-1 !default;
$skill-css-bg-3: $mariner !default
$skill-css-h1-fill: $onahau !default;
$skill-css-h1-stroke: $torea-bay !default;
$skill-css-h1-text: $onahau !default;
$skill-css-h2-text: $white !default;
$skill-css-text: $white !default;
$skill-html-after: $hot-cinnamon !default;
$skill-html-bg-1: $orange-roughy !default;
$skill-html-bg-2: $orange-roughy !default;
$skill-html-bg-3: $flame-pea !default;
$skill-html-h1-fill: $wafer !default;
$skill-html-h1-stroke: $tabasco !default;
$skill-html-h1-text: $wafer !default;
$skill-html-h2-text: $white !default;
$skill-html-text: $white !default;
$skill-javascript-after: $husk !default;
$skill-javascript-bg-1: $ronchi-1 !default;
$skill-javascript-bg-2: $ronchi-1 !default;
$skill-javascript-bg-3: $ronchi-2 !default;
$skill-javascript-h1-fill: $tahuna-sands !default;
$skill-javascript-h1-stroke: $husk !default;
$skill-javascript-h1-text: $tahuna-sands !default;
$skill-javascript-h2-text: $pesto !default;
$skill-javascript-link-text: $pesto !default;
$skill-javascript-text: $pesto !default;
$skill-other-after: $mountain-meadow !default;
$skill-other-bg-1: $sea-green !default;
$skill-other-bg-2: $sea-green !default;
$skill-other-bg-3: $ocean-green !default;
$skill-other-h1-fill: $frosted-mint !default;
$skill-other-h1-stroke: $salem !default;
$skill-other-h1-text: $frosted-mint !default;
$skill-other-h2-text: $white !default;
$skill-other-text: $white !default;
$skills-tabbed-content-nav-css-bg: $mariner !default;
$skills-tabbed-content-nav-html-bg: $flame-pea !default;
$skills-tabbed-content-nav-javascript-bg: $ronchi-2 !default;
$skills-tabbed-content-nav-link-text: $white !default;
$skills-tabbed-content-nav-other-bg: $ocean-green !default;