// Blues
$denim-1: #146ec0;
$denim-2: #136cbf;
$mariner: #2f79bf;
$onahau: #cce6ff;
$torea-bay: #0e428c;

// Greens
$frosted-mint: #ddfff0;
$mountain-meadow: #1c9e68;
$ocean-green: #48a07a;
$salem: #076d41;
$sea-green: #30a06f;

// Greys
$abbey: #4a4e56;
$athens-grey-1: #f1f2f4;
$athens-grey-1-t-07: rgba(241, 242, 244, 0.7);
$athens-grey-2: #e3e5e9;
$athens-grey-2-t-09: rgba(227, 229, 233, 0.9);
$black: #000000;
$iron: #ccced3;
$tuna: #32353b;

// Oranges
$flame-pea: #e05e2a;
$hot-cinnamon: #e0561f;
$orange-roughy: #e04f14;
$tabasco: #a03910;
$wafer: #e0cec7;

// Reds
$froly: #f27475;
$mona-lisa: #ff9898;

// Yellows
$husk: #b19a44;
$khaki: #efe28b;
$pesto: #7a6a2f;
$ronchi-1: #eed24f;
$ronchi-2: #f0db4f;
$tahuna-sands: #efeac6;

// Other
$white: #fff;