%header#header{ role: "banner", style: "visibility: hidden;" }
  .top-link#top-link
    = link_to content_tag(:span, "Top") + "keyboard_arrow_up", "#top", class: "material-icons bold-weight"

  .wrap
    %h1.eta
      %a{ href: "/" }
        %span.bold-weight Ian Hatton
        %span.job-title Front-end Web Developer

    = partial "views/components/primary_navigation/primary_navigation"
