%header#header{ role: "banner" }
  .wrap
    %h1.zeta
      %a{ href: "/" }
        %span.bold-weight Ian Hatton
        %span.job-title Front-end Developer

    %nav.primary-navigation#primary-navigation
      %ul
        %li.bold-weight= link_to "Skills", "#skills"
        %li.bold-weight= link_to "Work", "#"
        %li.bold-weight= link_to "About", "#"
