%header#header{ role: "banner" }
  .wrap
    %h1.eta
      %a{ href: "/" }
        %span.bold-weight Ian Hatton
        %span.job-title Front-end Web Developer

    = partial "views/components/primary_navigation/primary_navigation"
