footer {
  &[role=contentinfo] {
    // layout
    position: relative;

    // styling
    background-color: $footer-bg;

    &:after {
      // layout
      content: "";
      height: 7px;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;

      // styling
      background-image: repeating-linear-gradient(to right, $footer-after-bg-1 0px, $footer-after-bg-1 150px, $footer-after-bg-2 150px, $footer-after-bg-2 300px, $footer-after-bg-3 300px, $footer-after-bg-3 450px, $footer-after-bg-4 450px, $footer-after-bg-4 600px);
    }

    section {
      &.social {
        a {
          background-image: url("../images/sprite-social.png");

          &.github {
            @include sprite($social-github);
          }

          &.linkedin {
            @include sprite($social-linkedin);
          }

          &.npm {
            @include sprite($social-npm);
          }
        }

        h1 {
          color: $footer-social-h1-text;

          &.accent {
            &:before {
              background-color: $footer-social-h1-text;
            }
          }
        }

        li {
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }

    small {
      color: $footer-small-text;

      a {
        color: $footer-small-link-text;
      }
    }
  }
}