footer[role=contentinfo] {
  @include breakpoint($mobile-and-tablet-breakpoint) {
    section {
      &.social {
        margin-bottom: 40px;
      }
    }
  }

  @include breakpoint($desktop-breakpoint) {
    section {
      &.social {
        float: left;
      }
    }

    small {
      float: right;
    }
  }
}