footer {
  &[role=contentinfo] {
    // layout
    clear: both;
    position: relative;

    // styling
    background-color: $footer-bg;

    &:after {
      // layout
      content: "";
      height: 7px;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;

      // styling
      background-image: repeating-linear-gradient(to right, $footer-after-bg-1 0px, $footer-after-bg-1 150px, $footer-after-bg-2 150px, $footer-after-bg-2 300px, $footer-after-bg-3 300px, $footer-after-bg-3 450px, $footer-after-bg-4 450px, $footer-after-bg-4 600px);
    }

    section {
      &.social {
        a {
          // layout
          overflow: visible !important;
          text-align: right;

          // styling
          background-image: url("../images/sprite-social.png");
          color: $footer-social-link-text;

          &:after {
            margin-right: -15px;
          }

          &.github {
            @include sprite($social-github);
          }

          &.linkedin {
            @include sprite($social-linkedin);
          }

          &.npm {
            @include sprite($social-npm);
          }
        }

        h1 {
          color: $footer-social-h1-text;

          &.accent {
            &:before {
              background-color: $footer-social-h1-text;
            }
          }
        }

        li {
          display: inline-block;
          margin-right: 20px;
          vertical-align: middle;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    small {
      color: $footer-small-text;

      a {
        color: $footer-small-link-text;
      }
    }

    .padding {
      padding: 75px 20px;
    }
  }
}