body {
  &.home {
    @include breakpoint($mobile-breakpoint) {

    }

    @include breakpoint($tablet-breakpoint) {
      
    }

    @include breakpoint($desktop-breakpoint) {
      section {
        &.about, &.latest-work, &.site-introduction, &.skills {
          @include span(12 of 12 last);
        }

        &.about, &.latest-work, &.skills {
          position: relative;

          &:after {
            // layout
            @include bleed-x(1000px 0);
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 75%;

            // styling
            border-bottom: 1px dashed #4a4e56;
            height: 7px;

          }

          .section-footer {
            @include span(6 of 12 last);
            clear: both;

            .button {
              display: block;
              padding: 75px 30px;
              text-align: right;

              &:hover {
                padding-right: 20px;
              }
            }
          }

          .section-header {
            @include span(6 of 12);
          }
        }

        &.goodreads {
          @include span(4 of 12 last);
        }

        &.last-fm {
          @include span(8 of 12);

          li {
            @include span(1.6 of 8)

            &:last-child {
              @include last;
            }
          }
        }

        &.latest-work {
          article {
            &.featured {
              @include span(6 of 12);

              img {
                margin-bottom: 20px;
              }

              .column-one, .column-two {
                @include span(6 of 6 last);
              }
            }

            &.regular {
              // layout
              @include span(5 of 12 last);
              @include pre(1 of 12 last);
              margin-bottom: 40px;
              padding-bottom: 20px;

              // styling
              border-bottom: 1px dashed $latest-work-article-border;

              &:last-child {
                // layout
                margin-bottom: 0;
                padding-bottom: 0;

                // styling
                border-bottom: 0 none;
              }

              .column-one {
                @include span(2 of 5);
              }

              .column-two {
                @include span(3 of 5 last);
              }
            }
          }
        }

        &.site-introduction {
          p {
            @include span(8 of 12 last);
            @include prefix(2 of 12);
            @include suffix(2 of 12);
          }
        }

        &.skills {
          article {
            .column-one {
              @include span(6 of 12);
              @include suffix(1 of 12);
            }

            .column-two {
              @include span(2.5 of 12);
              
            }

            .column-three {
              @include span(2.5 of 12 last);
            }
          }
        }
      }
    }
  }
}