body {
  &.home {
    section {
      &.latest-work {
        article {
          h1 {
            margin-bottom: 0;
          }

          header {
            margin-bottom: 20px;
          }
        }
      }

      &.site-introduction {
        margin: 100px 0;

        a {
          // layout
          display: inline-block;
          margin: -20px;
          padding: 20px;
          position: relative;

          // styling
          @include transition(all 0.2s ease-in-out);
          border: 4px solid $site-introduction-link-border;
          border-radius: 5px;
          color: $site-introduction-link-text;
          text-decoration: none;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 15px;
            left: 20px;
            right: 20px;
            border-bottom: 1px dotted $site-introduction-link-after-border;
          }

          &:hover {
            @include transform(scale(1.1));
            background-color: $site-introduction-link-bg-hover;

            &:after {
              border-bottom: 0 none;
            }
          }
        }

        h1 {
          margin-bottom: 75px;
          
          span {
            color: $secondary-heading-text;
          }
        }
      }

      &.skills {
        article {
          // layout
          position: relative;
          z-index: 1;

          &:after {
            // layout
            display: block;
            position: absolute;
            bottom: 20px;
            right: 20px;

            // styling
            font-size: 200px;
          }

          &.css {
            @include linear-gradient(80deg, $skill-css-bg-1 0%, $skill-css-bg-2 69%, $skill-css-bg-3 69%);

            &:after {
              content: "}";
              color: $skill-css-after;
            }

            h1 {
              color: $onahau;
              -webkit-text-stroke: 2px $torea-bay;
              -webkit-text-fill-color: $onahau;
            }

            h2 {
              color: $white;
            }

            li, p {
              color: $white;
            }
          }

          &.html {
            @include linear-gradient(80deg, $orange-roughy 0%, $orange-roughy 69%, $flame-pea 69%);

            &:after {
              content: "/>";
              color: #e0561f;
            }

            blockquote {
              p {
                margin-bottom: 0;
              }
            }

            cite {
              display: inline-block;
              margin-bottom: 10px;
            }

            cite, p {
              color: $white;
            }

            h1 {
              color: $wafer;
              -webkit-text-stroke: 2px $tabasco;
              -webkit-text-fill-color: $wafer;
            }
          }

          &.javascript {
            @include linear-gradient(80deg, $ronchi-1 0%, $ronchi-1 69%, $ronchi-2 69%);

            &:after {
              content: ";";
              color: $husk;
            }

            h1 {
              color: $tahuna-sands;
              -webkit-text-stroke: 2px $husk;
              -webkit-text-fill-color: $tahuna-sands;
            }

            p {
              color: $husk;
            }
          }

          &.open {
            &:before {
              @include sprite($ui-close);
              top: 20px;
            }
          }

          &.web-standards {
            @include linear-gradient(80deg, #30a06f 0%, #30a06f 69%, #48a07a 69%);

            &:after {
              color: #1c9e68;
              content: "✓";
            }

            h1 {
              color: #ddfff0;
              -webkit-text-stroke: 2px #076d41;
              -webkit-text-fill-color: #ddfff0;
            }

            p {
              color: $white;
            }
          }

          h1 {
            position: relative;
            right: -2px;
          }
        }

        .tabbed-content-nav {
          a {
            @include transition(all 0.2s ease-in-out);
            color: $white;

            &.active {
              margin-top: -20px;
              padding: 20px;
            }

            &.css {
              background-color: $skill-css-bg-1;
            }

            &.html {
              background-color: $orange-roughy;
            }

            &.javascript {
              background-color: $ronchi-1;
            }

            &.web-standards {
              background-color: #30a06f;
            }
          }
        }
      }
    }
  }
}